---
import Discord from "../icons/Discord.astro";
import Stripe from "../icons/Stripe.astro";
import Text from "../fundations/elements/Text.astro";
import StarBottomLeft from "../assets/StarBottomLeft.astro";
import StarBottomRight from "../assets/StarBottomRight.astro";
import StarTopLeft from "../assets/StarTopLeft.astro";
import StarTopRight from "../assets/StarTopRight.astro";
const target = [
  {
    item: "WebUI with React/NextJS , Astro",
  },
  {
    item: "Web API with Express/Nest Hono Axum",
  },
  {
    item: "Testing with Playwright , Vitest",
  },
  {
    item: "Native app with React Native , Tauri",
  },
  {
    item: "Engineering Drawing 2D/3D with Autocad",
  },
  {
    item: "Multiple language TH_EN",
  },
  {
    item: "Microsoft365 eg. word  exel powerpoint",
  },
  {
    item: "data visualization with PowerBI",
  },
  {
    item: "IOT deverlop with Home assistant",
  },
  {
    item: "Solar PV system",
  },
];
const listItems = [
  {
    item: "Dose3 starter kit",
    link: "https://dose3.dossware.com",
  },
  {
    item: "DoseUI css library",
    link: "https://doseui.dossware.com",
  },
  {
    item: "Enerdoss solar application design",
    link: "https://enerdoss.dossware.com",
  },
];
---

<div
  class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 relative border border-dashed border-zinc-300 dark:border-zinc-700"
>
  <StarTopLeft />
  <StarTopRight />
  <StarBottomLeft />
  <StarBottomRight />
  <div
    class="gap-8 p-8 flex flex-col justify-between h-full text-black dark:text-white relative lg:border-r border-zinc-300 dark:border-zinc-700 lg:col-span-2"
  >
    <div>
      <Text
        tag="h3"
        variant="displaySM"
        class="font-serif italic text-black dark:text-white"
      >
        My Skill
      </Text>
      <Text tag="p" variant="textBase" class="text-zinc-500 dark:text-zinc-400">
        I'm a full-stack developer with a passion for open source and learning new things. I have experience with: 
      </Text>
    </div>
    <div class="flex flex-col justify-between relative">

      <ul
        class="grid grid-cols-1 2xl:text-base mt-4 sm:grid-cols-2 md:grid-cols-1 lg:grid-cols-2 gap-2 md:col-span-2 relative"
      >
        {
          target.map(({ item }) => (
            <li>
              <div class="flex gap-2 items-center text-zinc-500 dark:text-zinc-400">
                <div class=" ring-1 ring-zinc-200 dark:ring-zinc-700 p-[0.110rem] bg-white/5 shadow  rounded-sm ">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-check size-2.5"
                  >
                    <>
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M5 12l5 5l10 -10" />
                    </>
                  </svg>
                </div>
                {item}
              </div>
            </li>
          ))
        }
      </ul>
    </div>
    <div
      class="border-t flex flex-col pt-4 mt-4 text-zinc-500 dark:text-zinc-400 border-zinc-300 dark:border-zinc-700"
    >
      <Text tag="p" variant="textXS" class="2xl:text-base">
        I love to sleep all day all night i can sleep 24hours a day 😴 cuz sleep is my techical skill i belive in candy snack and food religion 😋. Nikola Tesla is my Idol⚡. I think Rxseboy is the best singer 🎶.
      </Text>
      <Text tag="p" variant="textXS" class="2xl:text-base">
        Learn more about me with my <a target="_blank" href="https://blog.dossware.com" class="text-blue-500">Blog</a>
      </Text>
      <div
        class="inline-flex items-center gap-2 mt-1 text-black dark:text-white"
      >
      </div>
    </div>
  </div>
  <div
    class="flex flex-col h-full justify-between p-8 overflow-hidden relative bg-white/30 dark:bg-white/5"
  >
    <div class="relative">
      <div class="mt-4">
        <Text
          tag="p"
          variant="textSM"
          class="text-black dark:text-white font-medium uppercase"
        >
          Open Source
        </Text>
        <ul
          class="flex flex-col mt-2 list-none list-inside text-zinc-700 dark:text-zinc-400 gap-y-2"
          role="list"
        >
        {
          listItems.map(({ item, link }) => (
            <li class="flex gap-2 items-center 2xl:items-start">
              <Text tag="p" variant="textSM" class="2xl:text.base">
                <Text tag="span">—</Text>
                <Text tag="span">
                  {item}
                  <a href={link} target="_blank" class="text-blue-500"> Link</a>
                </Text>
              </Text>
            </li>
          ))
        }
<!-- 
          {
            listItems.map((item) => (
              <li class="flex gap-2 items-center 2xl:items-start">
                <Text tag="p" variant="textSM" class="2xl:text.base">
                  <Text tag="span">—</Text>
                  <Text tag="span">{item}<a href="" class="text-white">  Link</a> </Text>
                </Text>
              </li>
            ))
          } -->
        </ul>
      </div>
      <div class="flex mt-4 justify-center relative w-full">
        <Text
          tag="a"
          variant="textBase"
          href="cv.pdf"
          class="flex h-12 items-center font-medium justify-center w-full duration-500 ring-1 dark:bg-white dark:text-black bg-black ring-inset ring-black hover:ring-zinc-700 text-white dark:hover:ring-zinc-700 dark:hover:bg-white/10 dark:hover:text-white"
        >
        Read my CV
        </Text>
      </div>
    </div>
    <div class="w-full mt-4 relative">
      <Text tag="a" href="#_" class="duration-500 block">
        <Text
          tag="span"
          class="text-base mt-8 tracking-tight text-black dark:text-white"
        >
          Support me
        </Text>
      </Text>
      <Text
        tag="p"
        variant="textXS"
        class="mt-2 text-zinc-500 dark:text-zinc-400"
      >
        <img src="QR.jpg" alt="">
        Here :
        <Text tag="span" class="italic">
          Promtpay QR</Text
        >
      </Text>
    </div>
  </div>
</div>
