@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    :root{
        --color-primary : rgb(20, 0, 45);
        --color-secondary : #00021c;
        --color-line : rgb(255, 255, 255) ;
    }
}