@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    :root{
        --color-primary : rgb(43, 0, 28);
        --color-secondary : #151515;
        --color-line : rgb(255, 255, 255) ;
    }
}