@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    :root{
        --color-primary : rgb(155, 0, 15);
        --color-secondary : rgb(113, 0, 13) ;
        --color-line : rgb(255, 255, 255) ;
    }
}