---
import Picture from '../components/Picturee.astro';
import Layout from '../layouts/Layout.astro';
---
<Layout title="my_photo">
    <div class="pic">
        <Picture/>
    </div>
</Layout>

<style>
    .pic{
        display: flex;
        justify-content: center;
        width: 90vw;
        margin-left: 5vw;
        padding-bottom: 300px;
    }
</style>