---
import Picture from "../components/picture.astro";
import Layout from '../layouts/Layout.astro';
---
<Layout title="my_photo">
    <div class="pic">
        <Picture/>
    </div>
</Layout>

<style>
    .pic{
        display: flex;
        justify-content: center;

    }
</style>