---
import Layout from '../layouts/Layout.astro';
import Top from '../components/Top.astro';
import Header from '../components/Header.astro'
import Love from '../components/Love.astro';
import About from '../components/About.astro'
import OpenSource from '../components/OpenSource.astro'
import Contact from '../components/Contact.tsx';
import Footer from '../components/Footer.astro';
import "../styles/base.css"
---

<Layout title="dose">
	<main class="">
		<Top/>
		<Header/>
		<div id="main" class="w-full">
			<About/>
			<OpenSource/>
			<Love/>
			<Contact client:load/>
			<Footer/>
		</div>
	</main>
</Layout>

<style>

	#main{
		width: 90vw;
		margin: 0 auto;
		max-width: 1280px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	@media screen and (max-width:720px){
		#main{
			width: 90vw;
			margin-left: 5vw;
		}
	}
</style>
