---

---
<div class="head sticky m-0 top-0 w-[100vw] bg-slate-900 h-20">
    <a href="#about">About</a>
    <a href="#open">Open source</a>
    <a href="#proj">Project</a>
</div>

<style lang="scss">
    .head{
        border-bottom: 1px solid rgb(70, 70, 70);
        border-top: 1px solid rgb(70, 70, 70);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9;
        a{
            margin: 0 20px;
            &:hover{
                color: rgb(152, 125, 252);
            }
        }
    }
</style>