---

---
<div class="w-[100%]">
<h1>Open Source</h1>
<div class="flex md:flex-row flex-col">
    <div class="op img md:mr-[1%] w-[100%] md:w-[49%] ">

    </div>
    <div class="op img1 md:mt-0 md:ml-[1%] mt-4 w-[100%] md:w-[49%]">
        <a href="" class="hidden">Hello</a>
    </div>
</div>
<br id="proj">
</div>

<style lang="scss">
    h1{
        margin: 30px 0;
    }
    .img{
        background-image: url('/dose3.png');
        aspect-ratio: 16/9;
        background-size: 100%;
    }
    .img1{
        background-image: url('/book.png'); 
        aspect-ratio: 16/9;
        background-size: 100%;
    }
    .op{
        border: 1px solid rgb(61, 61, 61);
        border-radius: 5px;
        background-position: center;
        transition: all 0.3s;
        &:hover{
            background-size: 110%;
            a{
                display: flex;
            }
        }
    }
</style>