---

---
<div class="w-[100%]">
<h1>Open Source</h1>
<div class="flex md:flex-row flex-col">
    <div class="op img md:mr-[1%] w-[100%] md:w-[49%] ">
        <div class="hh hidden">
            <h1>Dose3</h1>
            <a href="https://dose3.dxse.site/" class="">https://dose3.dxse.site/</a>
        </div>
    </div>
    <div class="op img1 md:mt-0 md:ml-[1%] mt-4 w-[100%] md:w-[49%]">
        <div class="hh hidden">
            <h1>Book</h1>
            <a href="https://book.dxse.site/" class="">https://book.dxse.site/</a>
        </div>
    </div>
</div>
<br id="proj">
</div>

<style lang="scss">
    h1{
        margin: 30px 0;
    }
    .img{
        background-image: url('/dose3.png');
        aspect-ratio: 16/9;
        background-size: 100%;
    }
    .img1{
        background-image: url('/book.png'); 
        aspect-ratio: 16/9;
        background-size: 100%;
    }
    .op{
        background-position: center;
        transition: all 0.3s;
        &:hover{
            .hh{
                display: flex;
                flex-direction: column;
                background-color: rgb(0, 0, 0,0.9);
                height: 100%;
                align-items: center;
                justify-content: center;
                a{
                    border: 1px solid white;
                    padding: 10px 20px;
                }
            }
        }
        &:hover{
            background-size: 110%;
            a{
                display: flex;
            }
        }
    }
</style>