---

---
<div>
    <div class="masonry mt-10">
        <div class="grid">
          <h1>Primary School</h1>
          <img class="mb-[5px]" src="/pic/skn.jpg">
        </div>
        <div class="grid">
          <img src="/pic/skn3.jpg">
        </div>
        <div class="grid">
          <img src="/pic/skn4.jpg">
        </div>
        <div class="grid">
          <img src="/pic/skn5.jpg">
        </div>
        <div class="grid">
          <h1>Secondary School</h1>
          <img src="/pic/fn2.jpg">
        </div>
        <div class="grid">
          <img src="/pic/fn4.jpg">
        </div>
        <div class="grid">
          <img src="/pic/fn5.jpg">
        </div>
        <div class="grid">
          <img src="/pic/fn6.jpg">
        </div>
        <div class="grid">
          <img src="/pic/rd.png">
        </div>
        <div class="grid">
          <img src="/pic/gggg.jpg">
        </div>
        <div class="grid">
          <img src="/pic/fn7.jpg">
        </div>
        <div class="grid">
          <h1>University</h1>
          <img src="/pic/gh.jpg">
        </div>
        <div class="grid">
          <img src="/pic/tzl.jpg">
        </div>
        <div class="grid">
          <img src="/pic/tzl3.jpg">
        </div>
        <div class="grid">
          <img src="/pic/tzl2.jpg">
        </div>
        <div class="grid">
          <img src="/pic/sl.jpg">
        </div>
        <div class="grid">
          <img src="/pic/hat.jpg">
        </div>
        <div class="grid">
          <img src="/pic/light.jpg">
        </div>
        <div class="grid">
          <img src="/pic/gg.jpg">
        </div>
        <div class="grid">
          <img src="/pic/ggggg.jpg">
        </div>
        <div class="grid">
          <img src="/pic/sl2.jpg">
        </div>      
</div>
</div>

<style lang="scss">
.masonry {
  columns: 4;
  column-gap: 7px;
  max-width: 1500px;
  @media (max-width: 1200px) {
    columns: 3;
  }
  @media (max-width: 992px) {
    columns: 2;
  }
//   @media (max-width: 768px) {
//     columns: 1; 
//     .grid{
//     img {
//       width: 90px;
//     }}
//   }
  .grid {
    display: inline-block;
    position: relative;
    img {
      width: 100%;
      border-radius: 5px;
    }
  }
}
</style>