---

---
<div>
    <div class="masonry mt-10">
        <div class="grid">
          <h1>Primary School</h1>
          <img class="mb-[5px]" src="/pic/skn.jpg" alt="baby"/>
        </div>
        <div class="grid">
          <img src="/pic/skn3.jpg" alt="dose with computer"/>
        </div>
        <div class="grid">
          <img src="/pic/skn4.jpg" alt="who the hell is this"/>
        </div>
        <div class="grid">
          <img src="/pic/skn5.jpg" alt="end of my primary school"/>
        </div>
        <div class="grid">
          <h1>Secondary School</h1>
          <img src="/pic/fn2.jpg" alt="my first secondary school"/>
        </div>
        <div class="grid">
          <img src="/pic/fn4.jpg" alt="army 34ft"/>
        </div>
        <div class="grid">
          <img src="/pic/fn5.jpg" alt="intenter hydrolics"/>
        </div>
        <div class="grid">
          <img src="/pic/fn6.jpg" alt="me and tree"/>
        </div>
        <div class="grid">
          <img src="/pic/rd.png" alt="save the world"/>
        </div>
        <div class="grid">
          <img src="/pic/gggg.jpg" alt="go travel chiangrai"/>
        </div>
        <div class="grid">
          <img src="/pic/fn7.jpg" alt="end of my secondary school"/>
        </div>
        <div class="grid"/>
          <h1>University</h1>
          <img src="/pic/gh.jpg" alt="my university" class=" mb-[5px]"/>
        <div class="grid">
          <img src="/pic/tzl.jpg" alt="tazala"/>
        </div>
        <div class="grid">
          <img src="/pic/tzl3.jpg" alt="me at my village"/>
        </div>
        <div class="grid">
          <img src="/pic/tzl2.jpg" alt="me at my village"/>
        </div>
        <div class="grid">
          <img src="/pic/sl.jpg" alt="solar collecter"/>
        </div>
        <div class="grid">
          <img src="/pic/hat.jpg" alt="my life in hat"/>
        </div>
        <div class="grid">
          <img src="/pic/gg.jpg" alt="start working"/>
        </div>
        <div class="grid">
          <img src="/pic/light.jpg" alt="start working"/>
        </div>
        <div class="grid">
          <img src="/pic/sl2.jpg" alt="handsome guy with solar"/>
        </div>      
</div>
</div>

<style lang="scss">
.masonry {
  columns: 4;
  column-gap: 7px;
  max-width: 1500px;
  h1{
    margin: 0;
    padding: 0;
  }
  @media (max-width: 1200px) {
    columns: 3;
  }
  @media (max-width: 992px) {
    columns: 2;
  }
//   @media (max-width: 768px) {
//     columns: 1; 
//     .grid{
//     img {
//       width: 90px;
//     }}
//   }
  .grid {
    display: inline-block;
    position: relative;
    img {
      width: 100%;
      border-radius: 5px;
    }
  }
}
</style>