---

---
<div>
    <div class="masonry mt-10">
        <div class="grid">
          <img src="https://scontent.fcnx2-1.fna.fbcdn.net/v/t39.30808-6/363385780_3397416437175507_1663460333105220502_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeGMtR7sr63Vv5FaMkzfXpQHiQJggEIZyBmJAmCAQhnIGczTEwrRqJxnGwefbhQvg_oM3R3TvCDVt8HwZt3RGrgE&_nc_ohc=6eaSsmqtBg0Q7kNvgG-WtlZ&_nc_ht=scontent.fcnx2-1.fna&oh=00_AYBET9PecTgnzm8UAz2N1OZC50MZ1yeRHhzgso-pVccNrA&oe=664377D2">
        </div>
        <div class="grid">
          <img src="https://scontent.fcnx2-1.fna.fbcdn.net/v/t39.30808-6/399739925_3456070344643449_5521964404559492253_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeGQUljq4WzJo6RMR1zBEIHv8wsIK-Vjz4LzCwgr5WPPgm7z5rqyulcHJhFKhI8w46_IltThqcfS7WuCP7hA6hMs&_nc_ohc=oLIxDHSK3vkQ7kNvgFCgl1B&_nc_ht=scontent.fcnx2-1.fna&oh=00_AYDA8kQEUnOh7zs0C37gu1TiJgG9hogLky_Nka2pC6OSlw&oe=664369E8">
        </div>
        <div class="grid">
          <img src="/pic/hat.jpg">
        </div>
        <div class="grid">
          <img src="/pic/light.jpg">
        </div>
        <div class="grid">
            <img src="https://scontent.fcnx2-1.fna.fbcdn.net/v/t39.30808-6/275667395_3031243340459487_1681409428439314787_n.jpg?stp=dst-jpg_s552x414&_nc_cat=109&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeF-sW7xTu8GG1ApYVTI5mHC007Z6H3n7BzTTtnofefsHKwehm8kxbKRrqtogGWlMx29W_jNGCudA7QUxEWcaPXE&_nc_ohc=sLOYkLW-QekQ7kNvgGGnxwp&_nc_ht=scontent.fcnx2-1.fna&oh=00_AYASYA4NxYHo7g6hNYHnR6RPqTT6h8C2mK5SOhQpftEADw&oe=66435BBD">
          </div>
        <div class="grid">
          <img src="/pic/gg.jpg">
        </div>
        <div class="grid">
          <img src="/pic/ggg.jpg">
        </div>
        <div class="grid">
          <img src="/pic/gggg.jpg">
        </div>
        <div class="grid">
          <img src="/pic/ggggg.jpg">
        </div>
        <div class="grid">
          <img src="/pic/gh.jpg">
        </div>
      
</div>
</div>

<style lang="scss">
.masonry {
  columns: 4;
  column-gap: 16px;
  @media (max-width: 1200px) {
    columns: 3;
  }
  @media (max-width: 992px) {
    columns: 2;
  }
//   @media (max-width: 768px) {
//     columns: 1; 
//     .grid{
//     img {
//       width: 90px;
//     }}
//   }
  .grid {
    display: inline-block;
    margin-bottom: 16px;
    position: relative;
    img {
      width: 100%;
    }
  }
}
</style>