---
import Text from "../fundations/elements/Text.astro";
---

<Text
  tag="a"
  variant="textSM"
  href="/"
  class="font-semibold uppercase t text-black dark:text-white lg:text-base"
>
  <img src="D.png" class="w-[150px] max-w-[15vw] ml-[-2%]" alt="" srcset="">
  </svg>
  <div class="mt-1">DOSE.GOD.exe</div>
</Text>
